In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

In [3]:
# Load the dataset
file_path = '/content/drive/MyDrive/Movies Recommendation.csv'
movies_df = pd.read_csv(file_path)

In [4]:
# Remove unnecessary columns
columns_to_drop = [
    'Movie_Homepage', 'Movie_Production_House', 'Movie_Production_Country',
    'Movie_Spoken_Language', 'Movie_Crew'
]
cleaned_movies_df = movies_df.drop(columns=columns_to_drop)

In [5]:
# Handle missing values by dropping rows with missing data
cleaned_movies_df = cleaned_movies_df.dropna()

In [6]:
# Ensure consistency in date formats
cleaned_movies_df['Movie_Release_Date'] = pd.to_datetime(cleaned_movies_df['Movie_Release_Date'], format='%d-%m-%Y')

In [7]:
# Display the cleaned dataset
print(cleaned_movies_df.head())

   Movie_ID      Movie_Title                       Movie_Genre Movie_Language  \
0         1       Four Rooms                      Crime Comedy             en
1         2        Star Wars  Adventure Action Science Fiction             en
2         3     Finding Nemo                  Animation Family             en
3         4     Forrest Gump              Comedy Drama Romance             en
4         5  American Beauty                             Drama             en

   Movie_Budget  Movie_Popularity Movie_Release_Date  Movie_Revenue  \
0       4000000         22.876230         1995-12-09        4300000
1      11000000        126.393695         1977-05-25      775398007
2      94000000         85.688789         2003-05-30      940335536
3      55000000        138.133331         1994-07-06      677945399
4      15000000         80.878605         1999-09-15      356296601

   Movie_Runtime  Movie_Vote  Movie_Vote_Count  \
0           98.0         6.5               530
1          121.0         8.1              6624
2          100.0         7.6              6122
3          142.0         8.2              7927
4          122.0         7.9              3313

                                      Movie_Keywords  \
0          hotel new year's eve witch bet hotel room
1        android galaxy hermit death star lightsaber
2  father son relationship harbor underwater fish...
3  vietnam veteran hippie mentally disabled runni...
4  male nudity female nudity adultery midlife cri...

                                      Movie_Overview  \
0  It's Ted the Bellhop's first night on the job....
1  Princess Leia is captured and held hostage by ...
2  Nemo, an adventurous young clownfish, is unexp...
3  A man with a low IQ has accomplished great thi...
4  Lester Burnham, a depressed suburban father in...

                                       Movie_Tagline  \
0  Twelve outrageous guests. Four scandalous requ...
1       A long time ago in a galaxy far, far away...
2  There are 3.7 trillion fish in the ocean, they...
3  The world will never be the same, once you've ...
4                                       Look closer.

                                          Movie_Cast   Movie_Director
0  Tim Roth Antonio Banderas Jennifer Beals Madon...   Allison Anders
1  Mark Hamill Harrison Ford Carrie Fisher Peter ...     George Lucas
2  Albert Brooks Ellen DeGeneres Alexander Gould ...   Andrew Stanton
3  Tom Hanks Robin Wright Gary Sinise Mykelti Wil...  Robert Zemeckis
4  Kevin Spacey Annette Bening Thora Birch Wes Be...       Sam Mendes

In [8]:
# Save the cleaned dataset to a new CSV file
cleaned_movies_df.to_csv('/content/drive/MyDrive/cleaned.csv', index=False)